/* CONTAINER */
.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 15px 80px 40px;
  width: 100%;
  max-width: 1400px;
  font-family: 'Quicksand';
}

/* TITLE */
.relatedproducts h1 {
  font-family: 'Abril Fatface';
  font-size: clamp(28px, 4vw, 45px);
  font-weight: 100;
  text-align: center;
    color: #292424;
}

/* LINE */
.relatedproducts hr{
  width: clamp(120px, 25vw, 220px);
  height: 5px;
  border-radius: 10px;
  background-color: #A8B84A;
  border: none;
  transform-origin: center;
}


.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}