/* FOOTER WRAPPER */
.footer {
  width: 100%;
  background: #292424;
  color : #FAF7F6;
  padding: 10px 16px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGO */
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

/* LOGO */
.footer-logo h1 {
  font-family: 'Abril Fatface';
  font-size: 50px;
  letter-spacing: 2px;
  color:  #FAF7F6;
  cursor: pointer;
  font-weight: 300;
}

/* LINKS */
.footer-links {
  list-style: none;
  display: flex;
  gap: 36px;
  margin-bottom: 36px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  font-family: 'Quicksand';
  font-size: 15px;
  cursor: pointer;
  color: #d6b151;
  position: relative;
  transition: color 0.3s ease;
}

/* Underline animation */
.footer-links li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #9d4edd;
  transition: width 0.3s ease;
}

.footer-links li:hover {
  color:  #9d4edd;
}

.footer-links li:hover::after {
  width: 100%;
}

/* SOCIAL ICONS */
.footer-social-icon {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.footer-icons-container {
  width: 46px;
  height: 46px;
background-color: #FAF7F6;

border-radius: 50%;
  display: flex;
    border: 3px solid #A8B84A;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.footer-icons-container img {
  width: 20px;
}

.footer-icons-container:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(207, 221, 78, 0.35);
}

/* COPYRIGHT */
.footer-copyright {
  width: 100%;
  text-align: center;
}

.footer-copyright hr {
  border: none;
  height: 1px;
  background: #afa7a7;
  margin-bottom: 18px;
}

.footer-copyright p {
  font-size: 14px;
  color: #FAF7F6;
  font-family: 'Quicksand';
}

/* ---------------- RESPONSIVE ---------------- */

/* Tablets */
@media (max-width: 768px) {
  .footer {
    padding: 60px 16px 26px;
  }

  .footer-links {
    margin-top: 10px;
    margin-bottom: 45px;
  }

  .footer-links li{
    margin-right: 10px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer-logo img {
    width: 64px;
  }

  .footer-logo h1{
    font-size: xx-large;
  }

  .footer-links li {
    font-size: 14px;
  }
}

/* XL Screens */
@media (min-width: 1280px) {
  .footer {
    padding-top: 90px;
  }
}
